.FornecedorFavorites_container {
    padding: 20px;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.FornecedorFavorites_title {
    font-weight: 400;
    font-size: 20px;
    line-height: 35px;
}

.FornecedorFavorites_premiumAction {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.FornecedorFavorites_premiumAction img {
    height: 60px;
    width: 60px;
}

.FornecedorFavorites_premiumLink {
    margin-bottom: 30px;
}

.FornecedorFavorites_premiumBtn {
    display: flex!important;
    align-items: center!important;
    justify-content: center!important;
    background: #4169E1!important;
    box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.15)!important;
    color: #FFFFFF!important;
    margin-right: 10px;
    padding: 15px 40px!important;
    height: unset;
}

.FornecedorFavorites_premiumBtn svg {
    margin-right: 5px;
}

.FornecedorFavorites_body {
    position: relative;
}
.FornecedorFavorites_modalDetail {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    /*bottom: 0;*/
    background: #F7FAFC;
    border-radius: 10px;
    z-index: 100;
    padding: 20px 50px 20px 50px;
}

.FornecedorFavorites_modalAction {
    display: flex;
    justify-content: flex-end;
}

.FornecedorFavorites_modalDetailCol {
    display: flex!important;
    padding: 10px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.FornecedorFavorites_modalClose {
    border: 2px solid #3182CE;
    border-radius: 10px;
    color: #3182CE;
    height: 32px;
    width: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.FornecedorFavorites_like {
    border: 2px solid #3182CE;
    border-radius: 10px;
    color: #3182CE;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 10px 20px;
    margin: auto;
    text-transform: uppercase;
}

.FornecedorFavorites_modalDetailText1 {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: justify;
    color: #000000;
    margin-bottom: 20px;
}

.FornecedorFavorites_modalDetailText2 {
    font-weight: 500;
    font-size: 17px;
    line-height: 24px;
    padding: 10px 5px;
    color: #000000;
}

.FornecedorFavorites_modalDetailText3 {
    font-weight: 500;
    font-size: 15px;
    line-height: 19px;
    color: #718096;
    padding-bottom: 5px;
}

.FornecedorFavorites_modalDetailView {
    background: #E2E8F0;
    border-radius: 5px;
    padding: 10px 20px;
}