.textImage1 {
    position: absolute;
    bottom: 20px;
    right: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    color: #000000;
}

.textImage2 {
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    color: #ffffff;
}

.textTitle {
    font-weight: 700;
    font-size: 40px;
    text-align: right;
}

.textDescription {
    font-weight: 700;
    font-size: 24px;
    line-height: 44px;
    text-align: right;
    max-width: 500px;
}
