.Main_container {
    display: flex;
    height: 100%;
    width: 100%;
}

.Main_sidebar {
    box-shadow: 1px 0px 24px rgba(0, 0, 0, 0.1);
    height: 100%;
    padding: 20px 0;
    padding-right: 20px;
    display: flex;
    flex-direction: column;
}

.Main_menuitemLink {
    color: #000000;
}

.Main_menuitemLinkActive {

}

.Main_menuitemLinkActive .Main_menuitem {
    border-left: 5px solid #4169E1;
}

.Main_menuitem {
    display: flex;
    align-items: center;
    padding: 15px 20px;
    border-left: 5px solid transparent;
}

.Main_menuitem img {
    width: 30px;
}

.Main_menuitem > div {
    padding-left: 5px;
}

.Main_right {
    flex: 1;
}

.Main_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 40px!important;
    height: 80px;
}
.Main_header_title {
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    color: #000000;
}

.Main_content {
    height: calc(100vh - 80px);
    overflow-y: auto;
}

.Main_menuProfile {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.Main_menuProfile img {
    height: 50px;
}

.Main_dropdownIcon {
    width: 18px;
    height: auto!important;
}

.Main_header_title {
    display: none;
}
.Main_headerBetween {

}

.Main_headerRight {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.Main_headerNoti {
    margin: 0 20px;
    cursor: pointer;
}

.Main_headerNoti img {
    height: 22px;
}
.Main_headerSearch {
    margin: 0 20px;
    cursor: pointer;
}
.Main_headerSearch img {
    height: 22px;
}
@media only screen and (max-width: 800px) {
    .Main_menuitem > div {
        display: none;
    }
    .Main_sidebar {
        box-shadow: none;
        padding-top: 80px;
        width: 80px;
    }
    .Main_right {
        width: calc(100vw - 80px);
    }
    .Main_header {
        padding: 10px;
        margin-left: -100px;
    }
    .Main_header_title {
        display: block;
    }
}

.icon {
    color: #4169E1;
}

.circle-icon {
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    width: 60px; /* Largura do círculo */
    height: 60px; /* Altura do círculo */
    border-radius: 50%; /* Para criar um círculo */
    background-color:  #F1F2F7; /* Cor do círculo */
    color: rgb(89, 105, 207);/* Cor do texto dentro do círculo */
    font-size: 18px; /* Tamanho do texto */
  }
